.left-box{
	width: 100px;
	height: 100px;
	background-color: red;
}


.rightbox{
	width: 100px;
	height: 100px;
	background-color: yellow;
}
.left-bottom-box{
	width: 100px;
	height: 100px;
	background-color: green;
}
.right-bottom-box{
	width: 100px;
	height: 100px;
	background-color: pink;
}

.first-banner{
	width: 50%;
	float: left;
}

.second-banner{
	width: 50%;
	float: right;
}

.whole{
	width: 100%;
}

button{
	border: none;
	background-color: green;
	color: white;
	padding: 5px;
	border-radius: 3px;
	margin-left: 400px;
	margin-bottom: 50px;
}